@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");
html {
  font: 1.5rem "Nunito", sans-serif;
}
:root {
  --BGCOLOR: #475569;
  --TEXT-COLOR: whitesmoke;
}

body {
  min-height: 100vh;
  max-width: 800px;
  background-color: var(--BGCOLOR);
  background-image: radial-gradient(var(--TEXT-COLOR), var(--BGCOLOR));
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  place-content: center;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
header,
nav,
main,
footer {
  display: grid;
  place-content: center;
}
.nav {
  padding: 0.5rem;
  border: 4px solid grey;
  place-content: start;
  border-radius: 2px;
  box-shadow: 2px 2px 2px;
  background-color: #f1f1f1;
}
.ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
li a {
  /* display: block; */
  color: #000;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
}
a:hover:not(.active) {
  background-color: #555555;
  color: white;
}
a:active {
  background-color: #04aa6d;
  color: white;
}

th,
td,
caption {
  border: 1px solid #333;
  border-collapse: separate;
  padding: 0.5rem;
}
